<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container">
        <nav id="topNav">
            <ul>
                <li><a href="./home">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./works">Discography</a></li>
                <li><a href="./gallery">Gallery</a></li>
            </ul>
        </nav>
    <div class="content"><h1>About Blink 182</h1>
    
    <p>Blink-182 (stylized as blink-182) is an American rock band formed in Poway, California in 1992. Their current lineup consists of bassist/vocalist Mark Hoppus, guitarist/vocalist Tom DeLonge, and drummer Travis Barker. Though their sound has diversified throughout their career, their musical style blends catchy pop melodies with fast-paced punk rock. Their lyrics center on relationships, adolescent frustration, and maturity—or lack thereof. The group emerged from a suburban, Southern California skate-punk scene and gained notoriety for high-energy live shows and irreverent humor.</p></div>
    </div>
</body>
</html>