<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <nav id="topNav">
            <ul>
                <li><a href="./home">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./works">Discography</a></li>
                <li><a href="./gallery">Gallery</a></li>
            </ul>
        </nav>
    <div class="content"><h1>Homepage</h1>
        <img id="homeImg" src="/images/Blink182homepage.jpg" alt="Blink 182 Band members"/>

            <p class="homeP">Welcome to our Blink 182 fan page. Please check out the site</p>
                

    </div>
    </div>
</body>
</html>