<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>
<body>
    <div class="container">
        <nav id="topNav">
            <ul>
                <li><a href="./home">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./works">Discography</a></li>
                <li><a href="./gallery">Gallery</a></li>
            </ul>
        </nav>
    <div class="content"><h1>Discography</h1>
    <ul>     
        <li>Cheshire Cat (1995)</li>
        <li>Dude Ranch (1997)</li>
        <li>Enema of the State (1999)</li>
        <li>Take Off Your Pants and Jacket (2001)</li>
        <li>Blink-182 (2003)</li>
        <li>Neighborhoods (2011)</li>
        <li>California (2016)</li>
        <li>Nine (2019)</li>
    </ul>  
    </div>
    </div>
</body>
</html>